.savedBook {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  list-style: none;
}

.title {
  text-align: center;
}

.bookCard {
  border: solid 1px gray;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem;
}
.bookCard:nth-child(odd) {
  background-color: rgba(51, 51, 179, 0.434);
}

.bookCard:nth-child(even) {
  background-color: var(--color-accent);
}

.bookCard p {
  margin: 0;
}

h5 {
  margin: 0px;
}

button {
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.warning {
  color: red;
  background: #ffe5e5;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}

@media (min-width: 600px) {
  .savedBook {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 900px) {
  .savedBook {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .savedBook {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
