.searchInput {
  width: 40%;
  height: 2rem;
  padding: 1.5rem;
  font-size: 1.6rem;
}

.searchDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchButton {
  background-color: rgb(226, 110, 37);
  padding: 1rem;

  border-radius: 1rem;
}
