:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  min-width: 32rem;
  min-height: 100vh;
  font-size: 1.6rem;
}

h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.4rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
}
small {
  font-size: 1.4rem;
}

/* Tablet */
@media (max-width: 1024px) {
  body {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
}

/* Mobil */
@media (max-width: 768px) {
  body {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 3.6rem;
  }
  h2 {
    font-size: 2.8rem;
  }
  main.content {
    padding: 1rem;
  }
}

/* mobil-small*/
@media (max-width: 480px) {
  body {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.4rem;
  }
}
